.titu{
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgb(118, 226, 118);
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
}
.formulario{
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.emai{
    margin: 20px;
}
.contra{
    margin: 20px;
}
.emai-boton{
    margin: 20px;
}
.contra-boton{
    margin: 20px;
}
.ion-button{
    margin: 20px;
}